In [2]:
import pandas as pd

In [3]:
mr=pd.read_csv('maruti.csv')

In [4]:
mr['Engine'].unique()

array([ 998, 1248, 1462, 1061,  796, 1373, 1197, 1298], dtype=int64)

In [5]:
mr['Fuel_Type'].unique()

array(['CNG', 'Diesel', 'Petrol', 'LPG'], dtype=object)

In [6]:
mr['Fuel_Type']=mr['Fuel_Type'].replace({'CNG':1,'Diesel':2,'Petrol':3,'LPG':4})

In [7]:
mr['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [8]:
mr['Transmission']=mr['Transmission'].replace({'Manual':1,'Automatic':2})

In [9]:
mr['Owner_Type'].unique()

array(['First', 'Second', 'Third', 'Fourth & Above'], dtype=object)

In [10]:
mr['Owner_Type']=mr['Owner_Type'].replace({'First':1,'Second':2,'Third':3,'Fourth & Above':4})

In [11]:
mr['model'].unique()

array(['Wagon', 'Ertiga', 'Ciaz', 'Swift', 'Alto'], dtype=object)

In [12]:
mr['model']=mr['model'].replace({'Wagon':1,'Ertiga':2,'Ciaz':3,'Swift':4,'Alto':5})

In [13]:
mr=mr.drop(['Name','make'],axis=1)

In [14]:
mrl=mr[mr['New_Price']<8.00]

In [15]:
mrh=mr[mr['New_Price']>=8.0]

In [16]:
X=mrl.drop(['Price'],axis=1).values
y=mrl['Price'].values

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
model1=LinearRegression()
model2=LinearRegression()

In [22]:
model1.fit(X_train,y_train)
y_pred=model1.predict(X_test)

In [23]:
np.mean((y_pred-y_test)**2)**0.5

NameError: name 'np' is not defined

In [ ]:
X=mrh.drop(['Price'],axis=1).values
y=mrh['Price'].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [ ]:
model2.fit(X_train,y_train)
y_pred=model.predict(X_test)
np.mean((y_pred-y_test)**2)**0.5

In [24]:
import lime
import lime.lime_tabular

In [ ]:
inp=np.array([1.000e+00,2.011e+03, 4.000e+04, 2.000e+00, 1.000e+00, 1.000e+00, 2.200e+01,
 1.000e+00, 7.000e+01, 5.000e+00, 7.500e+00, 2.000e+00]).reshape(1,-1)

In [25]:
colums=mrl.columns.tolist()
explainer = lime.lime_tabular.LimeTabularExplainer(X_train, feature_names=colums, class_names=['Price'], categorical_features=['Engine','model','Year','Power','Location','Owner_Type','Transmission'], verbose=True, mode='regression')

In [26]:
i = 55
exp = explainer.explain_instance(X_test[i], model1.predict, num_features=12)

Intercept 3.8960832391176945
Prediction_local [-0.24291855]
Right: 0.8566941802878887

In [ ]:
exp.show_in_notebook(show_table=True)

In [186]:
exp.as_list()

[('Transmission <= 1.00', -1.4909102557119676),
 ('Year <= 2010.00', -1.353044099933559),
 ('Engine <= 796.00', -1.0254550411343266),
 ('1.00 < Price <= 5.00', -0.5040419821055184),
 ('Owner_Type <= 1.00', 0.2003567720039944),
 ('New_Price <= 4.45', -0.14029282980942565),
 ('4.00 < Location <= 6.00', 0.06020780661136184),
 ('29947.50 < Kilometers_Driven <= 50000.00', 0.03971139430438264),
 ('Fuel_Type <= 3.00', -0.00994532793976417),
 ('18.90 < Mileage <= 20.92', 0.0029149036074605757),
 ('Power <= 47.30', -0.0011718134635561096),
 ('Seats <= 5.00', 0.0)]

In [189]:
model1.fit(X,y)

LinearRegression()

In [193]:
model2.fit(X,y)

LinearRegression()

In [195]:
import pickle

In [196]:
pickle.dump(model1,open("marutil.pickel","wb"))

In [197]:
pickle.dump(model2,open("marutih.pickel","wb"))

In [201]:
colums=mrl.columns.tolist()
explainer = lime.lime_tabular.LimeTabularExplainer(X, feature_names=colums, class_names=['Price'], categorical_features=['Engine','model','Year','Location','Owner_Type','Transmission','Fuel_Type'], verbose=True, mode='regression')

In [205]:
colums=mrh.columns.tolist()
explainer1 = lime.lime_tabular.LimeTabularExplainer(X, feature_names=colums, class_names=['Price'], categorical_features=['Engine','model','Year','Location','Owner_Type','Transmission','Fuel_Type'], verbose=True, mode='regression')

In [202]:
import dill
with open('marutillime', 'wb') as f:
    dill.dump(explainer,f)

In [206]:
import dill
with open('marutihlime', 'wb') as f:
    dill.dump(explainer1,f)

In [27]:
exp.as_list()

[('Transmission <= 1.00', -1.486928008436787),
 ('Year <= 2010.00', -1.3778095424404762),
 ('Engine <= 796.00', -1.0449820328442552),
 ('1.00 < Price <= 5.00', -0.4920898019888688),
 ('Owner_Type <= 1.00', 0.21297209892839059),
 ('New_Price <= 4.45', -0.1631744356835951),
 ('Fuel_Type <= 3.00', 0.13441501556104657),
 ('29947.50 < Kilometers_Driven <= 50000.00', 0.055328499584530996),
 ('4.00 < Location <= 6.00', 0.04026053492473405),
 ('18.90 < Mileage <= 20.92', -0.022675630448376064),
 ('Power <= 47.30', 0.005681510994054011),
 ('Seats <= 5.00', 0.0)]

In [29]:
d=dict(exp.as_list())

In [30]:
d

{'Transmission <= 1.00': -1.486928008436787,
 'Year <= 2010.00': -1.3778095424404762,
 'Engine <= 796.00': -1.0449820328442552,
 '1.00 < Price <= 5.00': -0.4920898019888688,
 'Owner_Type <= 1.00': 0.21297209892839059,
 'New_Price <= 4.45': -0.1631744356835951,
 'Fuel_Type <= 3.00': 0.13441501556104657,
 '29947.50 < Kilometers_Driven <= 50000.00': 0.055328499584530996,
 '4.00 < Location <= 6.00': 0.04026053492473405,
 '18.90 < Mileage <= 20.92': -0.022675630448376064,
 'Power <= 47.30': 0.005681510994054011,
 'Seats <= 5.00': 0.0}

In [31]:
keys=list(d)

In [32]:
vals=list(d.values())

In [33]:
vals

[-1.486928008436787,
 -1.3778095424404762,
 -1.0449820328442552,
 -0.4920898019888688,
 0.21297209892839059,
 -0.1631744356835951,
 0.13441501556104657,
 0.055328499584530996,
 0.04026053492473405,
 -0.022675630448376064,
 0.005681510994054011,
 0.0]

In [34]:
ds={'Fuel_Type':{1:'petrol',2:'diesel',3:'LPG'},
       'Location':{0:'Ahamadabad',1:'Bengaluru',2:'Chennai',3:'Coimbatore',4:'Delhi',5:'Jaipur',6:'Kochi',7:'Kolkata',8:'Mumbai',9:'Pune'},
       'Owner_Type':{0:'first',1:'second',3:'third',4:'fourth and above'},
       'Transmission':{1:'Manual',2:'Automatic'}}

In [36]:
ds['Fuel_Type'][1]

'petrol'

In [38]:
keys

['Transmission <= 1.00',
 'Year <= 2010.00',
 'Engine <= 796.00',
 '1.00 < Price <= 5.00',
 'Owner_Type <= 1.00',
 'New_Price <= 4.45',
 'Fuel_Type <= 3.00',
 '29947.50 < Kilometers_Driven <= 50000.00',
 '4.00 < Location <= 6.00',
 '18.90 < Mileage <= 20.92',
 'Power <= 47.30',
 'Seats <= 5.00']

In [58]:
res={}

In [59]:
for i in range(len(keys)):
    arr=keys[i].split(' ')
    found=False
    for j in arr:
        if j in ds.keys():
            res[j+' '+ds[j][1]]=vals[i]
            found=True
    if not found:
        res[keys[i]]=vals[i]

In [60]:
res

{'Transmission Manual': -1.486928008436787,
 'Year <= 2010.00': -1.3778095424404762,
 'Engine <= 796.00': -1.0449820328442552,
 '1.00 < Price <= 5.00': -0.4920898019888688,
 'Owner_Type second': 0.21297209892839059,
 'New_Price <= 4.45': -0.1631744356835951,
 'Fuel_Type petrol': 0.13441501556104657,
 '29947.50 < Kilometers_Driven <= 50000.00': 0.055328499584530996,
 'Location Bengaluru': 0.04026053492473405,
 '18.90 < Mileage <= 20.92': -0.022675630448376064,
 'Power <= 47.30': 0.005681510994054011,
 'Seats <= 5.00': 0.0}